<h1> Show Page </h1>

<h2><%= @nba_players.name %></h2>
<h3> Team: <%= @nba_players.team%> </h3>
<h3> Comment: <%= @nba_players.comment%> </h3>
<h3> Championships: <%= @nba_players.championships%> </h3>
